<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
  <%# <%= file_tag url_for(@document.file) %>
  <%= link_to @document.file.filename, rails_blob_path(@document.file, disposition: "attachment") %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
